@charset "UTF-8";
.wl-transfer {
  position: relative;
  overflow: hidden;
}

.wl-transfer .el-tree {
  min-width: 100%;
  display: inline-block !important;
}

.wl-transfer .transfer-left {
  position: absolute;
  top: 0;
  left: 0;
}

.wl-transfer .transfer-right {
  position: absolute;
  top: 0;
  right: 0;
}

.wl-transfer .transfer-right-item {
  height: calc((100% - 41px) / 2);
}

.wl-transfer .transfer-right-small {
  height: 41px;
}

.wl-transfer .transfer-right-only {
  height: 100%;
}

.wl-transfer .transfer-main {
  padding: 10px;
  height: calc(100% - 41px);
  box-sizing: border-box;
  overflow: auto;
}

.wl-transfer .transfer-left,
.wl-transfer .transfer-right {
  border: 1px solid #ebeef5;
  width: 40%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  vertical-align: middle;
}

.wl-transfer .transfer-center {
  position: absolute;
  top: 50%;
  left: 40%;
  width: 20%;
  transform: translateY(-50%);
  text-align: center;
}

.wl-transfer .transfer-center-item {
  padding: 10px;
  overflow: hidden;
}

.wl-transfer .address-list-center {
  height: 100%;
}

.wl-transfer .address-list-center > .transfer-center-item {
  height: 50%;
  padding: 70px 10px 0;
  box-sizing: border-box;
  overflow: hidden;
}

.wl-transfer .address-list-center > .address-only-item {
  height: 100%;
  position: relative;
}

.wl-transfer .address-only-item > .address-first-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wl-transfer .transfer-title {
  border-bottom: 1px solid #ebeef5;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  color: #333;
  font-size: 16px;
  background-color: #f5f7fa;
}

.wl-transfer .transfer-title .el-checkbox {
  margin-right: 10px;
}

.wl-transfer .filter-tree {
  margin-bottom: 10px;
}

.wl-transfer .address-list-ul {
  padding-bottom: 20px;
}

.wl-transfer .address-list-li {
  position: relative;
  padding: 4px 24px 4px 4px;
  border-radius: 3px;
  overflow: hidden;
  /*超出部分隐藏*/
  white-space: nowrap;
  /*不换行*/
  text-overflow: ellipsis;
  /*超出部分文字以...显示*/
}

.wl-transfer .address-list-li:hover {
  background-color: #f5f7fa;
}

.wl-transfer .address-list-li:hover .address-list-del {
  display: block;
}

.wl-transfer .address-list-del {
  display: none;
  position: absolute;
  top: 50%;
  right: 2px;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  text-align: center;
  background-color: #fef0f0;
  color: #f56c6c;
  cursor: pointer;
}

.wl-transfer .u-clear {
  float: right;
  color: #67c23a;
  font-size: 14px;
  cursor: pointer;
}

.wl-transfer .move_up_img {
  float: right;
  margin-top: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.wl-transfer .move_down_img {
  transform: rotate(180deg);
}
