{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "stage-3"
  ],
  "plugins": [
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ]
  ]
}